<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>OmnuvClient</string>
	<key>LSSupportsGameMode</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>Your Omnuv machines, and the stream from them</string>
	<key>CFBundleIconFile</key>
	<string>omnuv</string>
	<key>CFBundleIdentifier</key>
	<string>dev.omnuv.OmnuvClient</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Omnuv uses the local network to reach your machines and stream from them.</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION</string>
	<key>CFBundleDisplayName</key>
	<string>Omnuv Client</string>
    <key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
</dict>
</plist>
